/* Start coding here */
* {
  margin: 0;
  padding: 0;
}
.header {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0 15px 10px;
}
.chat1,
.chat2,
.chat3,
.chat4,
.chat5 {
  margin: 10px;
}
.chat1,
.chat3 {
  background-color: #2aab0b;
  width: 150px;
  padding: 5px 0 5px 20px;
  border-radius: 100px;
}
.chat2 {
  background-color: #dbdbdb;
  width: 150px;
  padding: 5px 0 5px 20px;
  border-radius: 100px;
}
.chat4,
.chat5 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  padding: 5px 0 5px 20px;
  border-radius: 100px;
}
.chat-right {
  position: absolute;
  right: 0;
}
.chat-left {
  position: relative;
  top: 150px;
}
.circle {
  text-align: center;
  padding: 1px;
  font-size: small;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 8px;
  top: 105px;
}
